body {
    margin: 0;
    padding: 0;
}

html {
    width: 100%
}

/**********  NAVBAR *********/

/* logo Accueil */ 

#logoMenu {
    width: 90px ;
    height: 70px;
}

.imgage {
    text-align: center ;
}

.navbar {
    background-color: #464545;
    
}

/* zoom image de l'accueil */ 
.image {
    
    transform: scale(0.5);
    animation: dezoom 2s linear forwards
}

.navbar-nav li a {
    color: white;
}

section {
    text-align: center; 
}


@keyframes dezoom {
    from {
        transform: scale(5);
    }

    to {
        transform: scale(0.5);
    }
}

/* section entreprise */

#entreprise {
background-color: rgb(161, 125, 125);
}

#entreprise2 {
text-align: center;
}

.image2 {
   width: 500px;
   height:800px ;
}



